@import url("animations.css");

:root{
    /* dark Mode Tons */
    --bg-dm-primary: #495057;
    --bg-dm-secundary: #f03e3e;
    --bg-dm-accent: #ffd43b;
    --dm-text: #f8f9fa;
    
    --st-dm-ter: #212529;
    --st-dm-vsc: #071e33;
    --st-dm-ff: #33220f;
    --st-dm-dis: #11132f;

    --border-dm: 3px solid white;
    /* dark Light Tons */
    --bg-lm-primary: #f1f3f5;
    --bg-lm-secundary: #3b5bdb;
    --bg-lm-accent: #82c91e;
    --lm-text: #ced4da;
    
    --st-lm-ter: #f1f3f5;
    --st-lm-vsc: #494336;
    --st-lm-ff: #33220f;
    --st-lm-dis: #11132f;

    --letters: 29;
    --speed: 1.5s;
    --speed-blink: 750ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dm-text)
}

body {
    font-family: 'Azeret Mono', sans-serif, monospace;
    font-size: 62.5%;
    color:var(--text);
    background-color: var(--bg-dm-primary)
}

section{
    height: 100vh;
}

ul,li {
    list-style: none;
}

p, span {
    font-size: max(1.6em, 1.5vw);
}

.grl__flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.grl__grid {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
}

.section__container {
    width: 80vw;
    height: 80vh;
    border-radius: 1rem;
    padding: 1rem;
}

.grl__container {
    padding: 1rem;
}
.command {
    position: relative;
    width: max-content;
    font-weight: 400;
}

.flex__by--column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.space-parent{
    height: 100%;
    width: 100%;
}

/* Presentation Section (Terminal Custom) */
.ter {
    background-color: var(--st-dm-ter);
    border-bottom: var(--border-dm)
}


.ter-header {
    justify-content: start;
    border-bottom: var(--border-dm)
}

.th-1{
    color: red;
}

.th-2{
    color: yellow;
}

.th-3 {
    color: green;
}

.name {
    color: var(--bg-dm-accent);
}