
.hdr {
    @include flex--ctn;
    font-size: $text-1;
    height: 12rem;
    justify-content: center;

    &--logo {
        font-weight: $weight-7;
        font-size: $text-6;
        color: var(--text-accent);

        &:hover {
            cursor: pointer;
            color:  var(--text);
        }
    }
}

.nv {
    @include flex--ctn;
    justify-content: space-between;
    position: relative;
    width: 90%;
    font-weight: $weight-5;

    &--item {
        & > a {
            color:  var(--text);
        }
    }

    &--md{
        background-color: var(--bg-secundary);
        justify-content:center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -110%;
        flex-direction: column;
        transition: left 250ms;
        z-index: $zindex-1;

        &.open {
            left: 0;
        }
        * {
            margin-bottom: 2rem;
        }
    }

    &--dd{
        display: none;
    }

    &--opt {
        @include flex--ctn;
        & > * {
            cursor: pointer;
        }
    }

    &--lg {
        font-size: $text-4;
        font-weight: $weight-7;
    }
}

.close--icon {
    position: absolute;
    top: 5rem;
    right: 5rem;
}

@media screen and (min-width: 40em) { // 600px
    .hdr {
        height: 8rem;
    }
    .nv { 
        max-width: 110rem;

        &--item {
            margin-left: 1.5rem;
            position: relative;
            padding: 0.2em 0;
            
            &:hover {
                cursor: pointer;
            }

            &:active {
                color:  var(--text-accent);
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color:   var(--text-accent);
                transform: scaleX(0);
                transform-origin: left;
                transition: 0.2s;
            }
            
            &:hover::before {
                transform: scaleX(1);
            }
        }

        &--ul{
            background-color: none;
            position: block;
            width: 80%;
            height: 100vh;
            justify-content: space-between;
        }

        &--md {
            display: none;
        }
        
        &--dd{
            @include flex--ctn;
        }
    }

    .menu--icon {
        display: none;
    }
}
