
.name {
    color: $lm-text-accent;
}

.presentation__ctr {
    font-family: 'Azeret Mono';
    font-size: $text-2;
    margin: 0 auto;
    width: min(95vw, 65rem);
    height: 30rem;
    background-color: $lm-bg-secundary;
    border-radius: $bdr-rds-sm;
    padding: 1rem;
}

.command {
    position: relative;
    width: max-content;
    font-weight: 400;
}

.ter {
    background-color: var(--st-dm-ter);
    border-bottom: var(--border-dm)
}

.ter-header {
    font-size: $text-5;
    justify-content: start;
    border-bottom: $lm-border;
}

.th-1{
    color: red;
}

.th-2{
    color: yellow;
}

.th-3 {
    color: green;
}

/* Animation */

.cm-1::before,
.cm-1::after,
.cm-2::before,
.cm-2::after,
.cm-3::before,
.cm-3::after{
    content: ""; 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.cm-1::after,
.cm-2::after,
.cm-3::after{
    width: 1ch;
    height: 100%;
}

.cm-1::before{
    background-color: $lm-bg-secundary;
    animation: typewriter $speed steps(25) forwards;
}

.cm-1::after{
    animation: 
        typewriter $speed  steps(25) forwards, 
        disapear $speed  forwards;
}

.cm-2::before{
    background-color: $lm-bg-secundary;
    animation: typewriter $speed  steps(25) forwards $speed ;
}

.cm-2::after{
    animation: 
        typewriter $speed  steps(25) forwards $speed , 
        disapear $speed  forwards $speed 
}

.cm-3::before{
    background-color: $lm-bg-secundary;
    animation: typewriter 300ms steps(30) forwards calc(2*$speed );
}

.cm-3::after{
    animation: 
        typewriter 300ms steps(30) forwards calc(2*$speed ), 
        disapearh2 300ms forwards calc(2*$speed ), 
        stayblink $speed-blink infinite calc(2*$speed );
}

@keyframes typewriter {
    to {
        left: 103%;
    }
}


@keyframes disapear {
    0% {
        background-color: $lm-text;
    }
    
    99% {
        background-color: $lm-text;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes disapearh2 {
    0% {
        background-color: transparent;
    }
    
    1% {
        background-color: $lm-text;
    }

    100% {
        background-color: $lm-text;
    }
}


@keyframes disapearh2 {
    0% {
        background-color: transparent;
    }
    
    1% {
        background-color: $lm-text;
    }

    100% {
        background-color: $lm-text;
    }
}

@keyframes stayblink {
    to {
        background-color: transparent;
    }
}

