
/* Projects Section */
.pr{
    &__content {
        display: grid;
        grid-gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    &__card {
        margin: 0 auto;
        width: 28rem;
        height: 28rem;
        padding: 2rem;
        text-align: center;

        &--links{
            margin: 0 auto;
            width: 50%;
            justify-content: space-evenly;
        }
    }
}

@media screen  and (min-width: 40em) {
    .pr {
       &__content {
        grid-template-columns: repeat(2, 1fr);
       }
    

    &__card {
        margin: 0 auto;
        width: 28rem;
        height: 28rem;
        padding: 2rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        transition: color 0.5s;
        
        &::before{
            content: "";
            position: absolute;
            top: 97%;
            left:0;
            width: 100%;
            height: 100%;
            background-color: var(--text);
            transition: top 0.5s;
            z-index: -1;
        }

        &:hover::before{
            top: 0;
        }

        &:hover {
            color:  var(--bg-primary);
        }

        &--links{
            & > *{
                cursor: pointer;
            }
        }
    }
   }
}

@media screen  and (min-width: 62.5em) {
 .pr {
    &__content {
        grid-template-columns: repeat(3, 1fr);
    }
 }
}