
/* Projects Section */
.pr{
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        align-items: center;
        justify-content: center;
    }
    &__item {
        margin: 0 auto;
        width: 28rem;
        height: 28rem;
        padding: 1rem;
    }
}
