:root{
    --bg-primary: #f1f3f5;
    --bg-secundary: #f8f9fa;
    --text: #343a40;
    --text-accent: #f59f00;
    --border: 3px solid #343a40;
    --box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    color:  var(--text);
    min-width: 30rem;
    background-color:  var(--bg-primary);
    font-family: 'Poppins', sans-serif;
    font-size: $text-1;
}

body.dark {
    --bg-primary: #343a40;
    --bg-secundary: #212529;
    --text: #adb5bd;
    --text-accent: #f08c00;
    --border: 3px solid#f1f3f5;
    --box-shadow: rgb(100,100,111) 0px 7px 29px 0px;
}


ul {
    list-style-type: none;

    li {
        list-style: none;
        
        a {
            text-decoration:none;
        }
    }
}

h1 {
    font-size: $text-5;
    margin-bottom: $mb-bg;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    line-height: 1.2;
}

h1{
    font-size: $text-6;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen  and (min-width: 45em) {

    body {
        font-size: $text-1;
    }

    .main {
        max-width: 110rem;
        width: 95%;
        margin: 0 auto;
    }
}