* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $lm-text;
    background-color: $lm-bg-primary;
}

ul {
    list-style-type: none;

    li {
        list-style: none;
        
        a {
            text-decoration:none;
        }
    }
}

h1 {
    font-size: $text-6;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    line-height: 1.2;
}

.main {
    max-width: 110rem;
    width: 95%;
    margin: 0 auto;
}