.section--title {
    font-weight: $weight-5;
    font-size: $text-4;
}

.sub__section--title {
    font-weight: $weight-4;
    font-size: $text-3;
}

.item {
    color: $lm-text;
    font-size: $text-1;
    display: inline-block;
    padding: 1rem 1.5rem;
    letter-spacing: 3px;
    position: relative;
    transition: color 0.7s;
    box-shadow: 0 0 3px 1px;

    &:hover {
        color: $lm-bg-primary;
    }

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $lm-text;
        transition: transform 0.7s;
        z-index: -1;
    }
    
    &::before{
        transform: rotateX(90deg);
    }
    
    &::after{
        transform: rotateY(90deg);
    }

    &:hover::before{
        transform: rotateX(0);
    }

    &:hover::after{
        transform: rotateY(0);
    }
}

.btn {
    background: none;
    font-weight: $weight-5;
    position: relative;
    padding: 1.5rem 3rem;
    color: $lm-text-accent;
    font-size: 2rem;
    letter-spacing: 3px;
    border: 3px solid $lm-text-accent;
    text-transform: uppercase;
    overflow: hidden;
    transition: color 0.3s;
    cursor: pointer;

    
    &::before {
        content: "";
        position: absolute;
        background-color: $lm-text-accent;
        top: -200%;
        left: 0;
        width: 100%;
        height: 200%;
        border-radius: 0 0 50% 50%;
        transition: top 0.3s;
        z-index: -1;
    }

    &:hover{
        color: $lm-bg-primary;
        &::before {
            top: 0;
        }
    }
}