.section--title {
    font-weight: $weight-7;
    font-size: $text-6;
}

.sub__section--title {
    font-weight: $weight-6;
    font-size: $text-3;
}

.item {
    color:  var(--text);
    display: inline-block;
    padding: 1rem 1.5rem;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    transition: color 0.7s;
    box-shadow: var(--box-shadow);
    

    &:hover {
        color:  var(--bg-primary);
    }

    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color:  var(--text);
        transition: transform 0.7s;
        z-index: -1;
    }
    
    &::before{
        transform: rotateX(90deg);
    }
    
    &::after{
        transform: rotateY(90deg);
    }

    &:hover::before{
        transform: rotateX(0);
    }

    &:hover::after{
        transform: rotateY(0);
    }
}

.btn {
    background: none;
    font-weight: $weight-5;
    position: relative;
    padding: 1.5rem 3rem;
    color:  var(--text-accent);
    letter-spacing: 3px;
    border: 3px solid  var(--text-accent);
    text-transform: uppercase;
    overflow: hidden;
    transition: color 0.3s;
    cursor: pointer;

    
    &::before {
        content: "";
        position: absolute;
        background-color:  var(--text-accent);
        top: -200%;
        left: 0;
        width: 100%;
        height: 200%;
        border-radius: 0 0 50% 50%;
        transition: top 0.3s;
        z-index: -1;
    }

    &:hover{
        color:  var(--bg-primary);
        &::before {
            top: 0;
        }
    }
}

.back__top {
    width: 3rem;
    height: 3rem;
    position: fixed;
    cursor: pointer;
    top: 10%;
    left: 5rem;
    justify-content: center;
    box-shadow: 0 0 3px 1px;
    background-color:  var(--bg-primary);
    border-radius: 50%;
}

@media screen  and (min-width: 40em) {
    .back__top {
        width: 4rem;
        height: 4rem;
        top: 50%;
        left: calc(100vw - 10rem);
    }
   }