.section--title {
    font-weight: $weight-5;
    font-size: $text-5;
}

.sub__section--title {
    font-weight: $weight-4;
    font-size: $text-3;
}

.item {
    font-size: $text-1;
    display: inline-block;
    padding: 1rem 1.5rem;
}