
.section {
    max-width: 100rem;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* flex container */

.flx__ctn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* margins */

.mb {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-bg {
    margin-bottom: 4rem;
}

.ml {
    margin-left: 1rem;
}

.box__shadow {
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

.box__shadow-sm {
    box-shadow: 0 0 5px 1px rgba(black, 0.4);
}

.center {
    margin: 0 auto;
}
