
/* generals */

$text-1: 2rem;
$text-2: 2.4rem;
$text-3: 3rem;
$text-4: 3.8rem;
$text-5: 4.8rem;
$text-6: 6rem;
$text-big: 7.4rem;

$weight-4: 400;
$weight-5: 500;
$weight-6: 600;
$weight-7: 700;


$bdr-rds-sm: 2rem;
$bdr-rds-md: 3rem;
$bdr-rds-lg: 5rem;

/* Tons Dark Mode */

$dm-bg-primary: #343a40;
$dm-bg-secundary: #212529;
$dm-text: #f8f9fa;
$bg-dm-accent: #f59f00;
$dm-border: 3px solid#f1f3f5;

/* Tones Lght Mode */

$lm-bg-primary: #f1f3f5;
$lm-bg-secundary: #f8f9fa;
$lm-text: #343a40;
$lm-text-accent: #f08c00;
$lm-border: 3px solid #343a40;

$letters: 29;
$speed: 1.5s;
$speed-blink: 750ms;