
/* generals */

$text-1: 1.4rem;
$text-2: 1.8rem;
$text-3: 2.2rem;
$text-4: 2.6rem;
$text-5: 3rem;
$text-6: 3.4rem;

$text-big: 5.6rem;


$bdr-rds-sm: 2rem;
$bdr-rds-md: 3rem;
$bdr-rds-lg: 5rem;

/* Tons Dark Mode */

$dm-bg-primary: #343a40;
$dm-bg-secundary: #212529;
$dm-text: #f8f9fa;
$bg-dm-accent: #f59f00;
$dm-border: 3px solid#f1f3f5;

/* Tones Lght Mode */

$lm-bg-primary: #f1f3f5;
$lm-bg-secundary: #ced4da;
$lm-text: #212529;
$lm-text-accent: #fab005;
$lm-border: 3px solid #343a40;

$letters: 29;
$speed: 1.5s;
$speed-blink: 750ms;