
/* generals */

$text-1: 1.6rem;
$text-2: 2rem;
$text-3: 2.4rem;
$text-4: 2.8rem;
$text-5: 3rem;
$text-6: 3.4rem;
$text-big: 7.4rem;

$weight-4: 400;
$weight-5: 500;
$weight-6: 600;
$weight-7: 700;


$bdr-rds-sm: 2rem;
$bdr-rds-md: 3rem;
$bdr-rds-lg: 5rem;

$header-height: 12rem;

$mb-sm: 2rem;
$mb-md: 3rem;
$mb-bg: 4rem;

$zindex-1: 10000;
$zindex-2: 1000;
$zindex-3: 100;
$zindex-4: 10;
$zindex-5: 1;
/* Tons Dark Mode */

$dm-bg-primary: #343a40;
$dm-bg-secundary: #212529;
$dm-text: #f8f9fa;
$bg-dm-accent: #f59f00;
$dm-border: 3px solid#f1f3f5;

/* Tones Lght Mode */

$lm-bg-primary: #f1f3f5;
$lm-bg-secundary: #f8f9fa;
$lm-text: #343a40;
$lm-text-accent: #f08c00;
$lm-border: 3px solid #343a40;

$letters: 29;
$speed: 1.5s;
$speed-blink: 750ms;