:root{
    /* dark Mode Tons */
    --bg-dm-primary: #495057;
    --bg-dm-secundary: #f03e3e;
    --bg-dm-accent: #f59f00;
    --dm-text: #f8f9fa;
    
    --st-dm-section: #212529;

    --border-dm: 3px solid white;

    /* dark Light Tons */
    --bg-lm-primary: #f1f3f5;
    --bg-lm-secundary: #3b5bdb;
    --bg-lm-accent: #f08c00;
    --lm-text: #495057;
    
    --st-lm-section: #f1f3f5;

    --letters: 29;
    --speed: 1.5s;
    --speed-blink: 750ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    color:var(--bg-dm-primary);
    background-color: var(--bg-lm-primary)
}

ul,li {
    list-style: none;
}

p, span {
    font-size: clamp(2rem, 1.5vw, 2.4rem);
}

a {
    decoration:none;
}

.container {
    padding: 3rem;
}

.flx__ct--center {
    display: flex;
    align-items: center;
}

.grd__ct {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
}

.nv {
    justify-content: space-between;
}

.nv--ul{
    font-weight: 600;
    font-size: 1rem;
    justify-content: space-between;
}

.nv--item {
    margin-left: 1.5rem;
}

.nv--item:hover {
    cursor: pointer;
    color: var(--bg-lm-accent);
}

.hdr {
    margin: 0 auto;
    width: 95%;
    max-width:80rem;
}

.hdr--logo {
    font-size: 2rem;
    font-weight: 700;
}

.hdr--logo:hover {
    cursor: pointer;
    color: var(--bg-lm-accent);
}

.main {
    max-width:60rem;
    margin: 0 auto;
}

.presentation__ctr {
    margin: 0 auto;
    margin-top: 2em;
    font-family: 'Azeret Mono';
    font-weight: 900;
    width: min(95vw, 50rem);
    height: 24rem;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.command {
    position: relative;
    width: max-content;
    font-weight: 400;
}

/* Presentation Section (Terminal Custom) */
.ter {
    background-color: var(--st-dm-ter);
    border-bottom: var(--border-dm)
}


.ter-header {
    justify-content: start;
    border-bottom: var(--border-dm)
}

.th-1{
    color: red;
}

.th-2{
    color: yellow;
}

.th-3 {
    color: green;
}

.name {
    color: var(--bg-lm-accent);
}

/* Projects Section */

.prjcts--content{
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.sctn--title {
    font-weight: 600;
    font-size:2.4rem;
    text-align:center;
}

.sbsctn--title {
    font-weight: 600;
    font-size:2rem;
    text-align:center;
}

.prjct--item {
    padding: 1rem;
    max-width: 25rem;
    box-shadow: 0 0 0.1rem 0.1rem;
}

.prjct__item--p {
    font-size:1rem;
    text-align: center;
}