:root{
    /* dark Mode Tons */
    --bg-dm-primary: #495057;
    --bg-dm-secundary: #f03e3e;
    --bg-dm-accent: #f59f00;
    --dm-text: #f8f9fa;
    
    --st-dm-section: #212529;

    --border-dm: 3px solid white;

    /* dark Light Tons */
    --bg-lm-primary: #f1f3f5;
    --bg-lm-secundary: #3b5bdb;
    --bg-lm-accent: #f08c00;
    --lm-text: #495057;
    
    --st-lm-section: #f1f3f5;

    --letters: 29;
    --speed: 1.5s;
    --speed-blink: 750ms;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color:var(--bg-dm-primary);
    background-color: var(--bg-lm-primary)
}

ul,li {
    list-style: none;
}

a {
    decoration:none;
}




.container {
    padding: 3rem;
}

.icon {
    cursor:pointer;
    color: var(--bg-lm-accent)
}

.flx__ct--center {
    display: flex;
    align-items: center;
}

.grd__ct {
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
}

.section {
    margin-bottom: 2rem;
}

.title {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.main {
    max-width:70rem;
    margin: 0 auto;
}

.item {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 0.1rem;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 15%);
    cursor: pointer;
}

.btn {
    color: var(--lm-text);
    font-weight: 500;
    border: currentColor solid 3px;
    padding: 0.5rem 1rem;
    margin: 0 auto;
}

/* Presentation Section (Terminal Custom) */

h1 > .name {
    font-size: 4rem;
    font-weight: 700;
}

.presentation__ctr {
    margin: 0 auto;
    margin-top: 2em;
    font-family: 'Azeret Mono';
    font-weight: 900;
    width: min(95vw, 50rem);
    height: 24rem;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.command {
    position: relative;
    width: max-content;
    font-weight: 400;
}

.ter {
    background-color: var(--st-dm-ter);
    border-bottom: var(--border-dm)
}

.ter-header {
    justify-content: start;
    border-bottom: var(--border-dm)
}

.th-1{
    color: red;
}

.th-2{
    color: yellow;
}

.th-3 {
    color: green;
}

.name {
    color: var(--bg-lm-accent);
}

/* Projects Section */

.prjcts--content{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.sctn--title {
    font-weight: 600;
    font-size:2.4rem;
    text-align:center;
    margin-bottom: 3rem;
}

.sbsctn--title {
    font-weight: 600;
    font-size:2rem;
    text-align:center;
}

.sctn--content {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: min(40rem, 100%);
    margin: 0 auto;
}

.prjct--item {
    padding: 1rem;
    box-shadow: 0 0 0.1rem 0.1rem;
}

.prjct__item--p {
    font-size:1rem;
    text-align: center;
}

/* Animation */

.cm-1::before,
.cm-1::after,
.cm-2::before,
.cm-2::after,
.cm-3::before,
.cm-3::after{
    content: ""; 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.cm-1::after,
.cm-2::after,
.cm-3::after{
    width: 1ch;
    height: 100%;
}

.cm-1::before{
    background-color: var(--st-dm-ter);
    animation: typewriter var(--speed) steps(31) forwards;
}

.cm-1::after{
    animation: 
        typewriter var(--speed) steps(31) forwards, 
        disapear var(--speed) forwards;
}

.cm-2::before{
    background-color: var(--st-dm-ter);
    animation: typewriter var(--speed) steps(27) forwards var(--speed);
}

.cm-2::after{
    animation: 
        typewriter var(--speed) steps(27) forwards var(--speed), 
        disapear var(--speed) forwards var(--speed)
}

.cm-3::before{
    background-color: var(--st-dm-ter);
    animation: typewriter 300ms steps(27) forwards calc(2*var(--speed));
}

.cm-3::after{
    animation: 
        typewriter 300ms steps(27) forwards calc(2*var(--speed)), 
        disapearh2 300ms forwards calc(2*var(--speed)), 
        stayblink var(--speed-blink) infinite calc(2*var(--speed));
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}


@keyframes disapear {
    0% {
        background-color: var(--dm-text);
    }
    
    99% {
        background-color: var(--dm-text);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes disapearh2 {
    0% {
        background-color: transparent;
    }
    
    1% {
        background-color: var(--dm-text);
    }

    100% {
        background-color: var(--dm-text);
    }
}


@keyframes disapearh2 {
    0% {
        background-color: transparent;
    }
    
    1% {
        background-color: var(--dm-text);
    }

    100% {
        background-color: var(--dm-text);
    }
}

@keyframes stayblink {
    to {
        background-color: transparent;
    }
}

